@page "/testmodelclasses/delete"
@using Microsoft.EntityFrameworkCore
@using cs392_demo.models
@inject IDbContextFactory<cs392_demo.Data.cs392_demoContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>TestModelClass</h2>
    <hr />
    @if (testmodelclass is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">testVal</dt>
            <dd class="col-sm-10">@testmodelclass.testVal</dd>
        </dl>
        <EditForm method="post" Model="testmodelclass" OnValidSubmit="DeleteTestModelClass" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(testmodelclass is null)">Delete</button> |
            <a href="/testmodelclasses">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private TestModelClass? testmodelclass;

    [SupplyParameterFromQuery]
    private int testKey { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        testmodelclass = await context.TestModelClass.FirstOrDefaultAsync(m => m.testKey == testKey);

        if (testmodelclass is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTestModelClass()
    {
        using var context = DbFactory.CreateDbContext();
        context.TestModelClass.Remove(testmodelclass!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/testmodelclasses");
    }
}
