@page "/testmodelclasses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using cs392_demo.models
@using cs392_demo.Data
@implements IAsyncDisposable
@inject IDbContextFactory<cs392_demo.Data.cs392_demoContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="testmodelclasses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TestModelClass">
    <PropertyColumn Property="testmodelclass => testmodelclass.testVal" />

    <TemplateColumn Context="testmodelclass">
        <a href="@($"testmodelclasses/edit?testkey={testmodelclass.testKey}")">Edit</a> |
        <a href="@($"testmodelclasses/details?testkey={testmodelclass.testKey}")">Details</a> |
        <a href="@($"testmodelclasses/delete?testkey={testmodelclass.testKey}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private cs392_demoContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
